<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerCDN}}
</head>
<body>
    {{>navbar}}

 {{>weathermain}}

    {{>footer}}
   <script src="js/main.js"></script>
   <script>
    const getCurrentDay = () =>{
        let weekday = new Array(7);
        weekday[0] = "Sun";
        weekday[1] = "Mon";
        weekday[2] = "Tue";
        weekday[3] = "Wed";
        weekday[4] = "Thur";
        weekday[5] = "Fri";
        weekday[6] = "Sat";

        let currentTime = new Date();
        days = weekday[currentTime.getDay()];
        let day = document.getElementById('day');
        day.innerText = days;

    };
    getCurrentDay();
    let today = new Date().toLocaleDateString();
    let today_date = document.getElementById('today_date');
    today_date.innerText = today;
   
   </script>
</body>
</html>