<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerCDN}}
</head>
<body>
    {{>navbar}}

      <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">  
            <div class="main_content">
                <div class="temp_form">
                    <input type="text" name="" placeholder="Enter your city name" id="cityName" autocomplete="off">
                    <input type="submit" value="search" id="submitBtn">

                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <div id="day">Tuesday</div>
                        <div id="today_date">13 Oct</div>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                            <p id = 'temp_status'><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    {{>footer}}
   <script src="js/main.js"></script>
   <script>
    const getCurrentDay = () =>{
        let weekday = new Array(7);
        weekday[0] = "Sun";
        weekday[1] = "Mon";
        weekday[2] = "Tue";
        weekday[3] = "Wed";
        weekday[4] = "Thur";
        weekday[5] = "Fri";
        weekday[6] = "Sat";

        let currentTime = new Date();
        days = weekday[currentTime.getDay()];
        let day = document.getElementById('day');
        day.innerText = days;

    };
    getCurrentDay();
    let today = new Date().toLocaleDateString();
    let today_date = document.getElementById('today_date');
    today_date.innerText = today;
   
   </script>
</body>
</html>