 <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">  
            <div class="main_content">
                <div class="temp_form">
                    <input type="text" name="" placeholder="Enter your city name" id="cityName" autocomplete="off">
                    <input type="submit" value="search" id="submitBtn">

                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <div id="day">Tuesday</div>
                        <div id="today_date">13 Oct</div>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                            <p id = 'temp_status'><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>